/* font */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800;900&family=Poppins:wght@500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800;900&family=Poppins:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800;900&family=Poppins:wght@400;500&family=Roboto&display=swap');

/* common style */
a{
    text-decoration: none;
    color: white;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
    margin: 0;
    padding: 0;
}

/* header start */
header{
    background-color: #562eff;
    display: flex;
    justify-content: center;
    padding: 7px;
}
.mainHeader{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.head-left{
    display: flex;
    align-items: center;
    padding: 5px;

}
.head-right{
    display: flex;
    align-items: center;
}
.head-right a{
    margin: auto 10px;
}
.head-right img{
    margin-left: 15px;
}
/* header end */




/* top players start*/

main{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: white;
    border-radius: 5px;
    width: 80%;
    margin: 21px;
}
.top-players{
    padding: 16px;
    
}
.player-title{
    font-size: 24px;
    color: #562eff;
    margin: 0% auto 13px 1%;

}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
    
}
.player{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 5px;
}
.player img{
    width: 56px;
    height: 56px;
    margin-right: 16px;
}
hr{
    border: 1px solid #D1D1D1;
}
/* top players end */


/* top blocks start */
.top-block{
    margin: 25px;
}
.top-block-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}
.top-block-items{
    display: flex;
    align-items: center;
    margin: 5px;
    margin-top: 20px;
    justify-content:first baseline;
}
#author{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size:15px;
    font-weight: 100;

}
#date{
    color: #562eff;
}
.right_des #dates{
    font-size: small;
    font-weight: 100;
}
.left_img img{
    width: 177px;
    margin-top: 5px;
}
.right_des{
    margin-left: 15px;
}
.right_des p{
    margin: 0px auto;
}
/* top block ended */



/* lates course start */
.contant_item img{
    width:100%;
}
.lates_course{
    margin: 8px;
}
.course_contant{
    display: flex;
}
.contant_item{
    margin: 2px 25px;
    padding: 15px;
    box-shadow: 0px 0px 11px -5px grey;
    border-radius: 10px;
}
.contant_item p{
    margin: 0px;
    font-weight: bolder;
    margin: 5px 0px;
}
.contant_item .course_deteils{
    display: flex;
    justify-content: space-between;
    margin-top: 23px;

}
.course_deteils{
    box-sizing: 2px 4px 1px 6px red;
}
.contant_item #course_name{
    color: #ed6b4f;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.course_deteils span i{
    font-size: 12px;
}
.course_deteils .rating{
    margin-left: 5px;
    font-size: 14px;
}
.course_deteils #times {
    background-color: #fddcd5;
    color: #ff677a;
    padding: 1px 16px;
    border-radius: 16px;
}
/* lates course end */





/* lates_course start */

.lates_course{
    width: 80%;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.fa-star.filled{
    color: rgb(245, 229, 8);
}
.fa-star.empty{
    color: gray;
    opacity: 0.4;
}

@media (max-width: 850px){
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .top-block-items{
        flex-direction: column;
        margin-top: 15px;
    }
    .player-title{
        text-align: center;
    }
    .course_contant{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}


@media (max-width:668px){
    .mainHeader{
        flex-direction: column;
        align-items: center;
    }
    .container{
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }
    .player-title{
        text-align: center;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .top-block-list{
        grid-template-columns: repeat(1, 1fr);
    }
    .top-block-items{
        flex-direction: column;
        margin-top: 10px;
    }
    .left_img img{
        width: 100%;
    }
    .right_des{
        width: 100%;
    }



    .course_contant{

        display: flex;
        flex-direction: column;
    }
    .lates_course{
        width: 100%;
}


